@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  
  -webkit-box-sizing: content-box;
  box-sizing: content-box; 
  background: no-repeat;
  background-image: url("/img/bg_image.jpg");
  background-size:cover;
}

*{
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  padding-top: 50px; 
}

.to_do_list {
  max-width: 400px;
  margin: 0 auto 40px;
  background-color: #1BA39C;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px 0 #074b83;
  box-shadow: 0 2px 10px 0 #074b83; 
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 30px; 
}

.create_new_todo {
  text-align: center; 
}

.to_do_description {
  width: 376px;
  padding: 10px; 
}

.to_do_date-title{
  margin: 15px;
  color: #fff;
  font-size: 20px;
}

.to_do_date-value{
  padding: 10px;
  width: 376px;
}

.to_do_field{
  font-size: 16px;
}

.to_do-add{
  margin-top: 15px;
  width: 400px;
  padding: 10px;
  cursor: pointer; 
}

.to_do_motivation{
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #fff;
}

.to_do {
  padding-left: 0; 
}

.to_do li {
  padding: 5px 0px;
  list-style-type: none; 
  display: flex;
  align-items: start;
}

.to_do li:not(:last-child) {
  border-bottom: 1px solid #000; 
}

.to_do_checkbox{
  width: 20px;
  height: 20px;
  margin-left: 0px;
  flex-shrink: 0;
}

.to_do_item_date{
  font-size: 16px;
  color: #fff;
  font-style: italic;
}

.to_do_item_text{
  display: inline-block;
  font-size: 18px;
  color: #fff;
  margin-top: 3px;
  text-align: justify;
  flex-grow: 1;
}

.to_do_item_important {
  font-weight: bold;
  color: #A40E11 !important; 
}

.to_do_delete{
  color: #000;
  font-size: 16px;
  line-height: 15px;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-top: 3px;
  margin-left: 5px;
  flex-shrink: 0;
}

/* input[type=checkbox] {
  opacity: 0;
  position: absolute; 
}

input[type=checkbox], label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer; 
}

input[type=checkbox] + label:before {
  content: '';
  background: #1BA39C;
  border-radius: 5px;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 2px;
  margin-right: 10px;
  text-align: center; 
}

input[type=checkbox]:checked + label:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 5px;
  border: solid blue;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-radius: 0;
  margin: 0 15px 5px 5px;  
}
*/